omegaconf
facenet-pytorch
scikit-image
scikit-video
scikit-learn
wandb
imaug
mediapipe
soundfile
"git+https://github.com/facebookresearch/pytorch3d.git@stable"
pytorch-lightning
pandas
compress_pickle
hickle
face-alignment
munch
yacs
loguru
insightface
onnxruntime
chumpy
onnx2torch

